USE [master]
GO
/****** Object:  Database [Del 4 272]    Script Date: 2019/10/19 11:53:57 ******/
CREATE DATABASE [Del 4 272]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Del 4 272', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SYSARCH\MSSQL\DATA\Del 4 272.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Del 4 272_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SYSARCH\MSSQL\DATA\Del 4 272_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Del 4 272].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Del 4 272]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[AdminName] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[CellphoneNo] [char](10) NOT NULL,
	[UserID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Learner]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Learner](
	[LearnerID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Age] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[PointBalance] [char](10) NOT NULL,
	[ThemeID] [int] NOT NULL,
	[ParentID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[LevelID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
 CONSTRAINT [PK_Learner] PRIMARY KEY CLUSTERED 
(
	[LearnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Level]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Level](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelDescription] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Parent]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Parent](
	[ParentID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Surname] [varchar](50) NOT NULL,
	[Age] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[UserID] [int] NOT NULL,
	[CountryID] [int] NOT NULL,
	[GenderID] [int] NOT NULL,
 CONSTRAINT [PK_Parent] PRIMARY KEY CLUSTERED 
(
	[ParentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PracGame]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PracGame](
	[PracGameID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[PracType] [numeric](1, 0) NOT NULL,
	[LevelID] [int] NOT NULL,
 CONSTRAINT [PK_PracGame] PRIMARY KEY CLUSTERED 
(
	[PracGameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PracGameQuestion]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracGameQuestion](
	[PracQuestionID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PracGameID] [int] NOT NULL,
 CONSTRAINT [PK_PracGameQuestion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PracQuestion]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PracQuestion](
	[PracQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Answer] [varchar](250) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[Type] [numeric](1, 0) NOT NULL,
 CONSTRAINT [PK_PracQuestion] PRIMARY KEY CLUSTERED 
(
	[PracQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PracticalGameAttempt]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PracticalGameAttempt](
	[PracticalGameScore] [int] NOT NULL,
	[PracGameID] [int] NOT NULL,
	[LearnerID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AttemptDate] [date] NOT NULL,
 CONSTRAINT [PK_PracticalGameAttempt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShortStory]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ShortStory](
	[ShortStoryID] [int] IDENTITY(1,1) NOT NULL,
	[ShortStoryDescription] [varchar](50) NOT NULL,
	[ShortStoryPdfPath] [varchar](max) NOT NULL,
	[Image] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ShortStory] PRIMARY KEY CLUSTERED 
(
	[ShortStoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheoryGame]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TheoryGame](
	[TheoryGameID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [varchar](50) NULL,
	[TheoryVideo] [char](254) NOT NULL,
	[TheoryType] [numeric](1, 0) NOT NULL,
	[LevelID] [int] NOT NULL,
 CONSTRAINT [PK_TheoryGame] PRIMARY KEY CLUSTERED 
(
	[TheoryGameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TheoryGameAttempt]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheoryGameAttempt](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Score] [int] NULL,
	[AttemptDate] [datetime] NULL,
	[TheoryGameID] [int] NOT NULL,
	[LearnerID] [int] NOT NULL,
 CONSTRAINT [PK_TheoryGameAttempt] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheoryGameQuestion]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheoryGameQuestion](
	[TheoryGameID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TheoryQuestionID] [int] NOT NULL,
 CONSTRAINT [PK_TheoryGameQuestion] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TheoryQuestion]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TheoryQuestion](
	[TheoryQuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [varchar](250) NOT NULL,
	[Answer] [varchar](250) NOT NULL,
	[Type] [numeric](1, 0) NOT NULL,
 CONSTRAINT [PK_TheoryQuestion] PRIMARY KEY CLUSTERED 
(
	[TheoryQuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](max) NOT NULL,
	[LastLoginDate] [datetime] NOT NULL,
	[UserTypeID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserType]    Script Date: 2019/10/19 11:53:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserType](
	[UserTypeID] [int] IDENTITY(1,1) NOT NULL,
	[UserTypeDescription] [char](10) NOT NULL,
 CONSTRAINT [PK_UserType] PRIMARY KEY CLUSTERED 
(
	[UserTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [AdminName], [Surname], [Email], [CellphoneNo], [UserID], [GenderID]) VALUES (1, N'Andile', N'Maphalala', N'andy@gmail.com', N'0823456789', 1, 2)
SET IDENTITY_INSERT [dbo].[Admin] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (1, N'South Africa')
INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (2, N'France')
INSERT [dbo].[Country] ([CountryID], [CountryName]) VALUES (3, N'Malawi')
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [Description]) VALUES (1, N'Male')
INSERT [dbo].[Gender] ([GenderID], [Description]) VALUES (2, N'Female')
SET IDENTITY_INSERT [dbo].[Gender] OFF
SET IDENTITY_INSERT [dbo].[Learner] ON 

INSERT [dbo].[Learner] ([LearnerID], [Name], [Surname], [Age], [DOB], [PointBalance], [ThemeID], [ParentID], [UserID], [LevelID], [GenderID]) VALUES (2, N'h', N't', N'4', CAST(N'2006-12-30' AS Date), N'10        ', 1, 1, 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Learner] OFF
SET IDENTITY_INSERT [dbo].[Level] ON 

INSERT [dbo].[Level] ([LevelID], [LevelDescription]) VALUES (1, N'Theory')
INSERT [dbo].[Level] ([LevelID], [LevelDescription]) VALUES (2, N'Practical')
INSERT [dbo].[Level] ([LevelID], [LevelDescription]) VALUES (3, N'Entertainment')
SET IDENTITY_INSERT [dbo].[Level] OFF
SET IDENTITY_INSERT [dbo].[Parent] ON 

INSERT [dbo].[Parent] ([ParentID], [Name], [Surname], [Age], [DOB], [Email], [UserID], [CountryID], [GenderID]) VALUES (1, N'mino', N'mum', N'45', CAST(N'1987-12-30' AS Date), N'ecvf', 1, 1, 1)
SET IDENTITY_INSERT [dbo].[Parent] OFF
SET IDENTITY_INSERT [dbo].[PracGame] ON 

INSERT [dbo].[PracGame] ([PracGameID], [Description], [PracType], [LevelID]) VALUES (1, N'Alphabet', CAST(0 AS Numeric(1, 0)), 2)
INSERT [dbo].[PracGame] ([PracGameID], [Description], [PracType], [LevelID]) VALUES (2, N'Number', CAST(1 AS Numeric(1, 0)), 2)
SET IDENTITY_INSERT [dbo].[PracGame] OFF
SET IDENTITY_INSERT [dbo].[PracQuestion] ON 

INSERT [dbo].[PracQuestion] ([PracQuestionID], [Answer], [Image], [Type]) VALUES (1, N'apple', N'~/Content/WordGameImages/apple.jpg', CAST(0 AS Numeric(1, 0)))
INSERT [dbo].[PracQuestion] ([PracQuestionID], [Answer], [Image], [Type]) VALUES (3, N'ball', N'~/Content/WordGameImages/ball.jpg', CAST(0 AS Numeric(1, 0)))
INSERT [dbo].[PracQuestion] ([PracQuestionID], [Answer], [Image], [Type]) VALUES (4, N'car', N'~/Content/WordGameImages/car.png', CAST(0 AS Numeric(1, 0)))
SET IDENTITY_INSERT [dbo].[PracQuestion] OFF
SET IDENTITY_INSERT [dbo].[ShortStory] ON 

INSERT [dbo].[ShortStory] ([ShortStoryID], [ShortStoryDescription], [ShortStoryPdfPath], [Image]) VALUES (1, N'Cinderella', N'~/Content/ShortStory/Cinderella.pdf', N'~/Content/EntertainmentImages/cinderella.jpg')
INSERT [dbo].[ShortStory] ([ShortStoryID], [ShortStoryDescription], [ShortStoryPdfPath], [Image]) VALUES (2, N'HumptyDumpty', N'~/Content/ShortStory/HumptyDumpty.pdf', N'~/Content/EntertainmentImages/humpty 2.jpg')
INSERT [dbo].[ShortStory] ([ShortStoryID], [ShortStoryDescription], [ShortStoryPdfPath], [Image]) VALUES (3, N'Little Red Riding Hood', N'~/Content/ShortStory/Little-red-riding-hood.pdf', N'~/Content/EntertainmentImages/little red.jpg')
SET IDENTITY_INSERT [dbo].[ShortStory] OFF
SET IDENTITY_INSERT [dbo].[TheoryGame] ON 

INSERT [dbo].[TheoryGame] ([TheoryGameID], [Description], [TheoryVideo], [TheoryType], [LevelID]) VALUES (1, N'Number', N'https://www.youtube.com/embed/glkQwKA5_PU                                                                                                                                                                                                                     ', CAST(0 AS Numeric(1, 0)), 1)
INSERT [dbo].[TheoryGame] ([TheoryGameID], [Description], [TheoryVideo], [TheoryType], [LevelID]) VALUES (2, N'Alphabet', N'https://www.youtube.com/embed/75p-N9YKqNo                                                                                                                                                                                                                     ', CAST(1 AS Numeric(1, 0)), 1)
SET IDENTITY_INSERT [dbo].[TheoryGame] OFF
SET IDENTITY_INSERT [dbo].[TheoryGameAttempt] ON 

INSERT [dbo].[TheoryGameAttempt] ([ID], [Score], [AttemptDate], [TheoryGameID], [LearnerID]) VALUES (8, 9, CAST(N'2006-12-30 00:38:54.840' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[TheoryGameAttempt] OFF
SET IDENTITY_INSERT [dbo].[TheoryQuestion] ON 

INSERT [dbo].[TheoryQuestion] ([TheoryQuestionID], [Question], [Answer], [Type]) VALUES (1, N'1 2 _ 4', N'3', CAST(0 AS Numeric(1, 0)))
INSERT [dbo].[TheoryQuestion] ([TheoryQuestionID], [Question], [Answer], [Type]) VALUES (2, N'1 _ 3 4', N'2', CAST(0 AS Numeric(1, 0)))
INSERT [dbo].[TheoryQuestion] ([TheoryQuestionID], [Question], [Answer], [Type]) VALUES (3, N'7 _ 9 10', N'8', CAST(0 AS Numeric(1, 0)))
SET IDENTITY_INSERT [dbo].[TheoryQuestion] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [Username], [Password], [LastLoginDate], [UserTypeID]) VALUES (1, N'Andy', N'8D969EEF6ECAD3C29A3A629280E686CF0C3F5D5A86AFF3CA12020C923ADC6C92', CAST(N'2006-12-30 00:38:54.840' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET IDENTITY_INSERT [dbo].[UserType] ON 

INSERT [dbo].[UserType] ([UserTypeID], [UserTypeDescription]) VALUES (1, N'Admin     ')
INSERT [dbo].[UserType] ([UserTypeID], [UserTypeDescription]) VALUES (2, N'Parent    ')
INSERT [dbo].[UserType] ([UserTypeID], [UserTypeDescription]) VALUES (3, N'Learner   ')
SET IDENTITY_INSERT [dbo].[UserType] OFF
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_Gender]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_Admin_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_Admin_User]
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Learner] CHECK CONSTRAINT [FK_Learner_Gender]
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Level] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Level] ([LevelID])
GO
ALTER TABLE [dbo].[Learner] CHECK CONSTRAINT [FK_Learner_Level]
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD  CONSTRAINT [FK_Learner_Parent] FOREIGN KEY([ParentID])
REFERENCES [dbo].[Parent] ([ParentID])
GO
ALTER TABLE [dbo].[Learner] CHECK CONSTRAINT [FK_Learner_Parent]
GO
ALTER TABLE [dbo].[Learner]  WITH CHECK ADD  CONSTRAINT [FK_Learner_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Learner] CHECK CONSTRAINT [FK_Learner_User]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Country] FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK_Parent_Country]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK_Parent_Gender]
GO
ALTER TABLE [dbo].[Parent]  WITH CHECK ADD  CONSTRAINT [FK_Parent_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Parent] CHECK CONSTRAINT [FK_Parent_User]
GO
ALTER TABLE [dbo].[PracGame]  WITH CHECK ADD  CONSTRAINT [FK_PracGame_Level] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Level] ([LevelID])
GO
ALTER TABLE [dbo].[PracGame] CHECK CONSTRAINT [FK_PracGame_Level]
GO
ALTER TABLE [dbo].[PracGameQuestion]  WITH CHECK ADD  CONSTRAINT [FK_PracGameQuestion_PracGame] FOREIGN KEY([PracGameID])
REFERENCES [dbo].[PracGame] ([PracGameID])
GO
ALTER TABLE [dbo].[PracGameQuestion] CHECK CONSTRAINT [FK_PracGameQuestion_PracGame]
GO
ALTER TABLE [dbo].[PracGameQuestion]  WITH CHECK ADD  CONSTRAINT [FK_PracGameQuestion_PracQuestion] FOREIGN KEY([PracQuestionID])
REFERENCES [dbo].[PracQuestion] ([PracQuestionID])
GO
ALTER TABLE [dbo].[PracGameQuestion] CHECK CONSTRAINT [FK_PracGameQuestion_PracQuestion]
GO
ALTER TABLE [dbo].[PracticalGameAttempt]  WITH CHECK ADD  CONSTRAINT [FK_PracticalGameAttempt_Learner] FOREIGN KEY([LearnerID])
REFERENCES [dbo].[Learner] ([LearnerID])
GO
ALTER TABLE [dbo].[PracticalGameAttempt] CHECK CONSTRAINT [FK_PracticalGameAttempt_Learner]
GO
ALTER TABLE [dbo].[PracticalGameAttempt]  WITH CHECK ADD  CONSTRAINT [FK_PracticalGameAttempt_PracGame] FOREIGN KEY([PracGameID])
REFERENCES [dbo].[PracGame] ([PracGameID])
GO
ALTER TABLE [dbo].[PracticalGameAttempt] CHECK CONSTRAINT [FK_PracticalGameAttempt_PracGame]
GO
ALTER TABLE [dbo].[TheoryGame]  WITH CHECK ADD  CONSTRAINT [FK_TheoryGame_Level] FOREIGN KEY([LevelID])
REFERENCES [dbo].[Level] ([LevelID])
GO
ALTER TABLE [dbo].[TheoryGame] CHECK CONSTRAINT [FK_TheoryGame_Level]
GO
ALTER TABLE [dbo].[TheoryGameAttempt]  WITH CHECK ADD  CONSTRAINT [FK_TheoryGameAttempt_Learner] FOREIGN KEY([LearnerID])
REFERENCES [dbo].[Learner] ([LearnerID])
GO
ALTER TABLE [dbo].[TheoryGameAttempt] CHECK CONSTRAINT [FK_TheoryGameAttempt_Learner]
GO
ALTER TABLE [dbo].[TheoryGameAttempt]  WITH CHECK ADD  CONSTRAINT [FK_TheoryGameAttempt_TheoryGame] FOREIGN KEY([TheoryGameID])
REFERENCES [dbo].[TheoryGame] ([TheoryGameID])
GO
ALTER TABLE [dbo].[TheoryGameAttempt] CHECK CONSTRAINT [FK_TheoryGameAttempt_TheoryGame]
GO
ALTER TABLE [dbo].[TheoryGameQuestion]  WITH CHECK ADD  CONSTRAINT [FK_TheoryGameQuestion_TheoryGame] FOREIGN KEY([TheoryGameID])
REFERENCES [dbo].[TheoryGame] ([TheoryGameID])
GO
ALTER TABLE [dbo].[TheoryGameQuestion] CHECK CONSTRAINT [FK_TheoryGameQuestion_TheoryGame]
GO
ALTER TABLE [dbo].[TheoryGameQuestion]  WITH CHECK ADD  CONSTRAINT [FK_TheoryGameQuestion_TheoryQuestion] FOREIGN KEY([TheoryQuestionID])
REFERENCES [dbo].[TheoryQuestion] ([TheoryQuestionID])
GO
ALTER TABLE [dbo].[TheoryGameQuestion] CHECK CONSTRAINT [FK_TheoryGameQuestion_TheoryQuestion]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_UserType1] FOREIGN KEY([UserTypeID])
REFERENCES [dbo].[UserType] ([UserTypeID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_UserType1]
GO
USE [master]
GO
