.Theory {
    position : absolute;
    left : 300px;
    height : 300px;
    width : 400px;
}


.Practical {
    position : absolute;
    right: 300px;
    
    height : 300px;
    width : 400px;
}

.Ent {
     position : absolute;
    left : 600px;
    bottom : 30px;
    height : 250px;
    width : 400px;
}


.imgs{
    position : absolute;
    left : 50px;
    bottom :50px;
    height : 150px;
    width : 150px;
}
.imgs2{
    position : absolute;
    right : 50px;
    bottom : 50px;
    height : 100px;
    width : 150px;
}
body{
    background-color : gray;
}

h1{text-align :center;
   font-size : 60px;
}