@model List<Booksmart.ViewModels.EntertainmentVM>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/StyleSheet1.css" rel="stylesheet" />
    <title>Entertainment</title>

</head>
<body id="body">
    <input class="home" type="image" value="button" src="~/Pics/home.jpg" onclick="window.location.href='@Url.Action("HomePage", "Booksmart" )';" />
    <br />
    <br />
    <br />
    <h1>Pick A story to read</h1>
    <div>
        @{ var n = 0;

        }
    </div>

    <div>
        @foreach (var group in Model)
        {
            <div>

                <section margin-bottom:20px; margin-top:20px;">


                    <div>
                        @{n++;
                    }

                    <img src="@Url.Content(@group.Imagepath)" alt="" style="height: 500px; width:500px " onclick="window.location.href='@Url.Action("Shortstories_"+@n.ToString(), "Booksmart" )';" />

                    <br />


                </div>


            </section>
        </div>}
    </div>

</body>
</html>