
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inactive</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/Inactive.css" rel="stylesheet" />

</head>
<body>
    <h2>MOST INACTIVE USERS REPORT</h2>
    <div>
        <table class="w3-table-all">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Country Name</th>
                <th>Last Login</th>
            </tr>
            <tr>
                <td>John</td>
                <td>Wick</td>
                <td>Germany</td>
                <td>2019-05-19</td>
            </tr>
            <tr>
                <td>Vin</td>
                <td>Diseal</td>
                <td>Greenland</td>
                <td>2019-01-19</td>
            </tr>
            <tr>
                <td>Andile</td>
                <td>Lenae</td>
                <td>Angola</td>
                <td>2019-03-19</td>
            </tr>
            <tr>
                <td>Ravyn</td>
                <td>Maphalala</td>
                <td>Germany</td>
                <td>2019-02-19</td>
            </tr>
        </table>
        <br />
        <h3>Most Inactive Country:Germany</h3>
        <div class="rightsss">
        <button  class="button button4" style="float:right;">Print Report</button>
        </div>
    </div>
</body>
</html>
