@model List<Booksmart.Models.Learner >
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Inactive</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="~/Content/Inactive.css" rel="stylesheet" />

</head>
<body>
    <h2>MOST INACTIVE USERS REPORT</h2>
    
        @if (Model != null)
        {
        <table class="w3-table-all" id="printTable">
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>Country Name</th>
                <th>Last Login</th>
                <th>Parent Contact</th>
               
            </tr>
        
            @foreach (var group in Model)
            {


            <tr>
                <td>@group.Name </td>
                <td>@group.LearnerID </td>
                <td>@group.Surname</td>
                <td>@group.User.LastLoginDate </td>
              
              
            </tr>
                
            }


            </table>
            
            <h3> Most Inactive Country:</h3>
            
        <br />
        
        <div class="rightsss">
        @*<button  class="button button4" style="float:right;">Print Report</button>*@
        </div>
    <div/>

        }

    <script>

    function printData()
    {
    var divToPrint=document.getElementById("printTable");
    newWin= window.open("");
    newWin.document.write(divToPrint.outerHTML);
    newWin.print();
    newWin.close();
    }

    $('button').on('click',function(){
    printData();
    })
    </script>

</body>
</html>
