@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Practical</title>

    <link href="~/Content/StyleSheet1.css" rel="stylesheet" />
</head>
<body id="body3">
    <input id="img" type="image" value="button" src="~/Pics/home.jpg" class="home" />


    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div>
        <div>
            Numbers <br />
            <input id="img" type="image" value="" src="~/Pics/images.jpg" />


        </div>
        <br />
        <div>
            Words <br />
            <input id="img" type="image" value="" src="~/Pics/alpha3.jpg" />


        </div>

    </div>
</body>
</html>
